@import '../../variables';

.site-header {
  margin-bottom: 2rem;

  h1 {
    font-size: clamp(1.8rem, 3.9375vw, 2.8rem);
    font-weight: 700;
    margin: 2rem 0 0 0;

    span {
      color: $c-text-secondary-large;
    }
  }

  h2 {
    color: $c-text-secondary-small;
    font-size: clamp(.9rem, 1.4vw, 1rem);
    font-weight: 400;
    font-style: italic;
    margin: 0;

    span {
      &.active {
        color: $c-active-states;
      }
    }
  }
}